<!DOCTYPE html>
<html lang="en">
<body>

  <script>

    // After a successful login in the popup the parent window is redirected by
    // Universe to /login/reload (hardcoded path). This page is responsible for
    // storing the auth tokens, closing the popup and navigating to the final
    // destination.

    localStorage.setItem('universeAccessToken', decodeURIComponent((window.location.search.match(/[\?&]access_token=([^&#$]+)/) || [undefined, ''])[1]));
    localStorage.setItem('universeAccessTokenExpiration', decodeURIComponent((window.location.search.match(/[\?&]access_token_expiration=([^&#$]+)/) || [undefined, '0'])[1]) * 1000);
    localStorage.setItem('universeRefreshToken', decodeURIComponent((window.location.search.match(/[\?&]refresh_token=([^&#$]+)/) || [undefined, ''])[1]));
    localStorage.setItem('universeRefreshTokenExpiration', decodeURIComponent((window.location.search.match(/[\?&]refresh_token_expiration=([^&#$]+)/) || [undefined, '0'])[1]) * 1000);

    const redirect = localStorage.getItem('universeLoginRedirect') || '/';
    localStorage.removeItem('universeLoginRedirect');

    if (window.opener) {
      window.opener.location.href = redirect;
      window.close();
    } else {
      window.location.href = redirect;
    }

  </script>

</body>
</html>
