<!DOCTYPE html>
<html lang="en">
<body>

  <script>

    // After a successful login in the popup the parent window is redirected by
    // Universe to /login/reload (hardcoded path). This page is responsible for
    // storing the auth tokens, closing the popup and navigating to the final
    // destination.

    sessionStorage.setItem('universeAccessToken', decodeURIComponent((window.location.search.match(/[\?&]access_token=([^&#$]+)/) || [undefined, ''])[1]));
    sessionStorage.setItem('universeAccessTokenExpiration', decodeURIComponent((window.location.search.match(/[\?&]access_token_expires_at=([^&#$]+)/) || [undefined, ''])[1]));
    sessionStorage.setItem('universeRefreshToken', decodeURIComponent((window.location.search.match(/[\?&]refresh_token=([^&#$]+)/) || [undefined, ''])[1]));
    sessionStorage.setItem('universeRefreshTokenExpiration', decodeURIComponent((window.location.search.match(/[\?&]refresh_token_expires_at=([^&#$]+)/) || [undefined, ''])[1]));

    const redirect = sessionStorage.getItem('universeLoginRedirect') || '/';
    sessionStorage.removeItem('universeLoginRedirect');

    if (window.opener) {
      window.opener.location.href = redirect;
      window.close();
    } else {
      window.location.href = redirect;
    }

  </script>

</body>
</html>
